service cloud.firestore {
  match /databases/{database}/documents {
    match /colors/{colorId}{
      allow read: if true;

      allow create, update: if request.resource.data.size() == 1
                            && request.resource.data.keys().hasAll(['votes']);
    }
  }
}
