$font-stack: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
$red: #ff1a1a;
$orange: orange;
$yellow: yellow;
$green: green;
$blue: #000080;
$purple: purple;
$black: black;
$fontColor: rgba(230, 230, 230, 0.7);
$bigFontSize: 60px;
$smallFontSize: 24px;

body {
    font-family: $font-stack;
    margin: 0;
    height: 100vh;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.red {
    background-color: $red;
}

.orange {
    background-color: $orange;
}

.yellow {
    background-color: $yellow;
}

.green {
    background-color: $green;
}

.blue {
    background-color: $blue;
}

.purple {
    background-color: $purple;
}

.black {
    background-color: $black;
}

#root {
    height: 100%;
}

#app-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#text-wrapper {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

#big-message {
    color: $fontColor;
    font-weight: bold;
    font-size: $bigFontSize;
}

.vote-message {
    font-size: $smallFontSize;
    color: $fontColor;
}

.disagree {
    cursor: pointer;
    color: $fontColor;
}

.disagree:hover {
    color: lighten($fontColor, 20%);
}

#button-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.color-button {
    cursor: pointer;
    height: 75px;
    width: 75px;
    border-radius: 10%;
    margin: 10px;
    transition: all 0.30s ease-in-out;
}

.color-button:hover {
    box-shadow: 0 0 12px rgba(81, 203, 238, 1);
}
